{% extends 'base.html.twig' %}

{% block title %}Les Jedis
{% endblock %}

{% block body %}
	<div class="card_container">
        <h1 class="text-3xl font-bold text-neutral-200 text-shadow">Les combattants de la Lumière !</h1>
    </div>
{% endblock %}