{% extends 'base.html.twig' %}

{% block title %}Tous les fighters
{% endblock %}

{% block body %}
	<div class="card_container">
        <h1 class="text-3xl font-bold text-neutral-200 text-shadow">Tous mes Fighters !</h1>
    </div>
{% endblock %}
