{% extends 'base.html.twig' %}

{% block title %}Créer un combattant
{% endblock %}

{% block body %}
        <h1 class="mb-4 text-3xl font-bold text-center text-neutral-200 text-shadow">Un combattant de plus ?</h1>
	<div class="card_container">

        {{form(fighter_form)}}
    </div>
{% endblock %}
