{% extends 'base.html.twig' %}

{% block title %}Les Siths
{% endblock %}

{% block body %}
	<div class="card_container">
        <h1 class="text-3xl font-bold text-neutral-200 text-shadow">Les combattants du côté Obscur !</h1>
    </div>
{% endblock %}