<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{{ asset('assets/style/global.css')}}">

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="min-h-svh flex flex-col">
        <header class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 midFlex p-10">
            <h1 class="text-5xl font-bold text-neutral-200 text_shadow">Mon Deck de Fighters</h1>
        </header>
		<div class="grow">{% block body %}{% endblock %}</div>

        <footer class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 e p-4 midFlex">
            <p class="text-2xl font-bold text-neutral-200 text_shadow">&copy; 2021 - My App</p>
        </footer>
	</body>
</html>
